@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

@{
    var rootContent = Umbraco.ContentAtRoot();
    var siteSetting = rootContent.OfType<SiteSettings>().FirstOrDefault();

    var contactAddress = siteSetting?.ContactAddress ?? "Ingen address hittades";
}

<div class="bg-primary">
    <div class="max-w-7xl mx-auto px-4 flex items-center justify-between">
        <p class="text-xs text-neutral">@contactAddress</p>

        <div class="flex">
            @if (siteSetting?.SocialMediaList != null)
            {
                foreach (var item in siteSetting.SocialMediaList)
                {
                    if (item.Content is SocialMediaItem mediaItem)
                    {
                        switch (mediaItem.PlatformName!.ToLower())
                        {
                            case "facebook":
                                <a href="@mediaItem.PlatformAccountUrl" target="_blank" class="flex items-center justify-center p-3 text-base text-neutral border-l border-main-light last:border-r">
                                    <i class="fa-brands fa-facebook-f"></i>
                                </a>
                                break;

                            case "x":
                                <a href="@mediaItem.PlatformAccountUrl" target="_blank" class="flex items-center justify-center p-3 text-base text-neutral border-l border-main-light last:border-r">
                                    <i class="fa-brands fa-x-twitter"></i>
                                </a>
                                break;

                            case "linkedin":
                                <a href="@mediaItem.PlatformAccountUrl" target="_blank" class="flex items-center justify-center p-3 text-base text-neutral border-l border-main-light last:border-r">
                                    <i class="fa-brands fa-linkedin-in"></i>
                                </a>
                                break;
                        }
                    }
                }
            }
        </div>
    </div>
</div>