<?xml version="1.0" encoding="utf-8"?>
<Media Key="9cee908f-0cc6-4a4a-b638-5c2d8254f6a0" Alias="Aaron-Lambert.svg" Level="2">
  <Info>
    <Parent Key="8003eec4-51a4-4219-b4f4-1843b8e3cde9">Team Members</Parent>
    <Path>/TeamMembers/AaronLambertsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-27T13:26:43</CreateDate>
    <NodeName Default="Aaron-Lambert.svg" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/puwfy5w3/aaron-lambert.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>