<?xml version="1.0" encoding="utf-8"?>
<Media Key="dc81c32d-8c70-4283-87eb-88f711a0c9ed" Alias="About-Us-CEO-Founder-Signaturre.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/AboutUsCEOFounderSignaturresvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-30T11:34:47</CreateDate>
    <NodeName Default="About-Us-CEO-Founder-Signaturre.svg" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/135cgptl/about-us-ceo-founder-signaturre.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>