<?xml version="1.0" encoding="utf-8"?>
<Media Key="3e51138d-2165-4e9c-88b2-7f710d46cdc2" Alias="AJ-Carter.svg" Level="2">
  <Info>
    <Parent Key="8003eec4-51a4-4219-b4f4-1843b8e3cde9">Team Members</Parent>
    <Path>/TeamMembers/AJCartersvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-27T13:26:43</CreateDate>
    <NodeName Default="AJ-Carter.svg" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/p4xphxd4/aj-carter.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>