<?xml version="1.0" encoding="utf-8"?>
<Media Key="59b60e98-6fe5-4038-8b76-d56020a030ed" Alias="Assurance-Audits.svg" Level="2">
  <Info>
    <Parent Key="3a829ef6-4ac2-4581-9b27-582c769e9b01">Services Thumbnails</Parent>
    <Path>/ServicesThumbnails/AssuranceAuditssvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-28T15:23:18</CreateDate>
    <NodeName Default="Assurance-Audits.svg" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/nkzbjo54/assurance-audits.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>