<?xml version="1.0" encoding="utf-8"?>
<Media Key="1276054c-3b97-4ee6-8eeb-c3d3dfe74b84" Alias="Bg-map.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/BgMapsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-04T16:59:43</CreateDate>
    <NodeName Default="Bg-map.svg" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/x02nj2em/bg-map.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>