<?xml version="1.0" encoding="utf-8"?>
<Media Key="8d93d84a-c3ce-4c14-b1ef-b752e362188f" Alias="Brand.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Brandsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-27T14:20:04</CreateDate>
    <NodeName Default="Brand.svg" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/xbsdc14v/brand.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>