<?xml version="1.0" encoding="utf-8"?>
<Media Key="8c4d20ab-3042-429b-bebc-b55612f03f91" Alias="Brandon-Kerr.svg" Level="2">
  <Info>
    <Parent Key="8003eec4-51a4-4219-b4f4-1843b8e3cde9">Team Members</Parent>
    <Path>/TeamMembers/BrandonKerrsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-27T13:26:43</CreateDate>
    <NodeName Default="Brandon-Kerr.svg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/lgop41sz/brandon-kerr.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>