<?xml version="1.0" encoding="utf-8"?>
<Media Key="79fe47f6-665b-4279-a510-8ec32d010d31" Alias="Brandon-Newton.svg" Level="2">
  <Info>
    <Parent Key="8003eec4-51a4-4219-b4f4-1843b8e3cde9">Team Members</Parent>
    <Path>/TeamMembers/BrandonNewtonsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-27T13:26:43</CreateDate>
    <NodeName Default="Brandon-Newton.svg" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/at3fzg0a/brandon-newton.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>