<?xml version="1.0" encoding="utf-8"?>
<Media Key="c9a3b8a0-50c6-4399-a2b5-c563273f49c9" Alias="Experience-Section-TinaFox.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/ExperienceSectionTinaFoxsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-07T12:35:36</CreateDate>
    <NodeName Default="Experience-Section-TinaFox.svg" />
    <SortOrder>9</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/kicbck43/experience-section-tinafox.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>