<?xml version="1.0" encoding="utf-8"?>
<Media Key="a1d9cb47-da51-49a4-a62e-eb68c92a71b4" Alias="Financial-Advisors.svg" Level="2">
  <Info>
    <Parent Key="3a829ef6-4ac2-4581-9b27-582c769e9b01">Services Thumbnails</Parent>
    <Path>/ServicesThumbnails/FinancialAdvisorssvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-28T15:23:18</CreateDate>
    <NodeName Default="Financial-Advisors.svg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/wv1hwq0k/financial-advisors.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>