<?xml version="1.0" encoding="utf-8"?>
<Media Key="6fc6e97a-efca-48e8-a717-4163b238d288" Alias="Green-Dotted-Map.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/GreenDottedMapsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-12T13:34:23</CreateDate>
    <NodeName Default="Green-Dotted-Map.svg" />
    <SortOrder>14</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/rbkgjdor/green-dotted-map.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>