<?xml version="1.0" encoding="utf-8"?>
<Media Key="b87608d2-5852-4f79-b212-131950cce254" Alias="Group-Foto.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/GroupFotosvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-12T12:14:29</CreateDate>
    <NodeName Default="Group-Foto.svg" />
    <SortOrder>12</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/ec0niwsj/group-foto.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>