<?xml version="1.0" encoding="utf-8"?>
<Media Key="482d8c0d-eb94-4279-895e-3039c46c7651" Alias="happyguy.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/happyguysvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-04T16:15:21</CreateDate>
    <NodeName Default="happyguy.svg" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/52yj5kup/happyguy.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>