<?xml version="1.0" encoding="utf-8"?>
<Media Key="935861c2-1cc6-498e-b382-be744db8c318" Alias="Home-Hero.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/HomeHerosvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-23T14:38:23</CreateDate>
    <NodeName Default="Home-Hero.svg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/gdopu2o3/home-hero.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>