<?xml version="1.0" encoding="utf-8"?>
<Media Key="67b7b780-ddef-4882-b59e-175875f45e06" Alias="Kevin-Gardner.svg" Level="2">
  <Info>
    <Parent Key="8003eec4-51a4-4219-b4f4-1843b8e3cde9">Team Members</Parent>
    <Path>/TeamMembers/KevinGardnersvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-27T13:26:43</CreateDate>
    <NodeName Default="Kevin-Gardner.svg" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/oifblbpu/kevin-gardner.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>