<?xml version="1.0" encoding="utf-8"?>
<Media Key="d447201a-a886-4757-8fc1-f381972bed3f" Alias="Let-us-Know-John.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/LetUsKnowJohnsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-04T15:46:42</CreateDate>
    <NodeName Default="Let-us-Know-John.svg" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/3copknu3/let-us-know-john.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>