<?xml version="1.0" encoding="utf-8"?>
<Media Key="6c67833d-5f27-46c6-8236-13c7f18329b5" Alias="Meeting-Success-Stories.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/MeetingSuccessStoriessvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-12T13:34:31</CreateDate>
    <NodeName Default="Meeting-Success-Stories.svg" />
    <SortOrder>15</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/z25mldr2/meeting-success-stories.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>