<?xml version="1.0" encoding="utf-8"?>
<Media Key="7073330f-9521-4d64-abb3-589db1b1af02" Alias="Meeting-Services.svg" Level="2">
  <Info>
    <Parent Key="3a829ef6-4ac2-4581-9b27-582c769e9b01">Services Thumbnails</Parent>
    <Path>/ServicesThumbnails/MeetingServicessvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-07T12:08:14</CreateDate>
    <NodeName Default="Meeting-Services.svg" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/5whnder0/meeting-services.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>