<?xml version="1.0" encoding="utf-8"?>
<Media Key="0e279b4e-9fe5-4317-82d4-36a7042e9593" Alias="Miranda-Dayton.svg" Level="2">
  <Info>
    <Parent Key="8003eec4-51a4-4219-b4f4-1843b8e3cde9">Team Members</Parent>
    <Path>/TeamMembers/MirandaDaytonsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-27T13:26:43</CreateDate>
    <NodeName Default="Miranda-Dayton.svg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/xqtil1h4/miranda-dayton.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>