<?xml version="1.0" encoding="utf-8"?>
<Media Key="899525bb-c68c-45d6-afed-441897b006fa" Alias="Partner-Identity.svg" Level="2">
  <Info>
    <Parent Key="e2e5063a-4a62-46d2-9303-7da6e690d0cb">Partners</Parent>
    <Path>/Partners/PartnerIdentitysvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-07T11:33:42</CreateDate>
    <NodeName Default="Partner-Identity.svg" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/jgmdo02x/partner-identity.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>