<?xml version="1.0" encoding="utf-8"?>
<Media Key="309b0cc1-dba6-447c-8a94-c563e6ae4fdb" Alias="Partner-FossilGroup.svg" Level="2">
  <Info>
    <Parent Key="e2e5063a-4a62-46d2-9303-7da6e690d0cb">Partners</Parent>
    <Path>/Partners/PartnerFossilGroupsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-07T11:33:42</CreateDate>
    <NodeName Default="Partner-FossilGroup.svg" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/goydtuv3/partner-fossilgroup.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>