<?xml version="1.0" encoding="utf-8"?>
<Media Key="e2e5063a-4a62-46d2-9303-7da6e690d0cb" Alias="Partners" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Partners</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-11-07T11:30:24</CreateDate>
    <NodeName Default="Partners" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties />
</Media>