<?xml version="1.0" encoding="utf-8"?>
<Media Key="ab6d6e03-d17b-47db-bfa6-3ba05fab97ff" Alias="Partner-Simpleaf.svg" Level="2">
  <Info>
    <Parent Key="e2e5063a-4a62-46d2-9303-7da6e690d0cb">Partners</Parent>
    <Path>/Partners/PartnerSimpleafsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-07T11:33:42</CreateDate>
    <NodeName Default="Partner-Simpleaf.svg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/4hjn4sla/partner-simpleaf.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>