<?xml version="1.0" encoding="utf-8"?>
<Media Key="2e9586a5-3f22-48b6-95b3-93af5aaf63fb" Alias="Rating.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Ratingsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-07T13:20:55</CreateDate>
    <NodeName Default="Rating.svg" />
    <SortOrder>10</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/k23dptbz/rating.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>