<?xml version="1.0" encoding="utf-8"?>
<Media Key="dae12293-b491-4d54-a452-9ee84869722f" Alias="Review-Section-KevinGardner.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/ReviewSectionKevinGardnersvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-07T13:21:09</CreateDate>
    <NodeName Default="Review-Section-KevinGardner.svg" />
    <SortOrder>11</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/mgpfgoek/review-section-kevingardner.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>