<?xml version="1.0" encoding="utf-8"?>
<Media Key="6ce19311-1af2-49a5-ac15-9ffb3caa2aea" Alias="Risk-Management.svg" Level="2">
  <Info>
    <Parent Key="3a829ef6-4ac2-4581-9b27-582c769e9b01">Services Thumbnails</Parent>
    <Path>/ServicesThumbnails/RiskManagementsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-28T15:23:19</CreateDate>
    <NodeName Default="Risk-Management.svg" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/2mxehdxj/risk-management.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>