<?xml version="1.0" encoding="utf-8"?>
<Media Key="fc8f1ce2-7e5a-46c7-b2fb-ca3e1987de63" Alias="Statistic-Advisors.svg" Level="2">
  <Info>
    <Parent Key="3a829ef6-4ac2-4581-9b27-582c769e9b01">Services Thumbnails</Parent>
    <Path>/ServicesThumbnails/StatisticAdvisorssvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-28T15:23:19</CreateDate>
    <NodeName Default="Statistic-Advisors.svg" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/ccqd0hsb/statistic-advisors.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>