<?xml version="1.0" encoding="utf-8"?>
<Media Key="b2c94e82-e049-441d-a3a8-bd711f6e4ae9" Alias="Tax-Trusts.svg" Level="2">
  <Info>
    <Parent Key="3a829ef6-4ac2-4581-9b27-582c769e9b01">Services Thumbnails</Parent>
    <Path>/ServicesThumbnails/TaxTrustssvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-28T15:23:18</CreateDate>
    <NodeName Default="Tax-Trusts.svg" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/odzhwucs/tax-trusts.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>