<?xml version="1.0" encoding="utf-8"?>
<Media Key="7f52a509-6a0a-448e-a9a7-be4efeb4f3e4" Alias="White-Dotted-Map.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/WhiteDottedMapsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-12T12:14:36</CreateDate>
    <NodeName Default="White-Dotted-Map.svg" />
    <SortOrder>13</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/5mmpbhir/white-dotted-map.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>