<?xml version="1.0" encoding="utf-8"?>
<Content Key="93914c5c-9919-47af-a3e5-3704ee07cb89" Alias="2025-11-12 16:26 - fredrikkkkkkk" Level="2">
  <Info>
    <Parent Key="643c82bf-965a-4e69-b86d-22c680045470">Form Submissions</Parent>
    <Path>/FormSubmissions/fredrikkkkkkk</Path>
    <Trashed>false</Trashed>
    <ContentType>questionRequest</ContentType>
    <CreateDate>2025-11-12T16:26:34</CreateDate>
    <NodeName Default="2025-11-12 16:26 - fredrikkkkkkk" />
    <SortOrder>17</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <questionRequestEmail>
      <Value><![CDATA[sebastian@domain.com]]></Value>
    </questionRequestEmail>
    <questionRequestName>
      <Value><![CDATA[fredrikkkkkkk]]></Value>
    </questionRequestName>
    <questionRequestQuestion>
      <Value><![CDATA[fråga]]></Value>
    </questionRequestQuestion>
  </Properties>
</Content>