<?xml version="1.0" encoding="utf-8"?>
<Content Key="94832452-c53f-4009-9411-edb48e94fcfe" Alias="2025-11-12 15:54 - testare" Level="2">
  <Info>
    <Parent Key="643c82bf-965a-4e69-b86d-22c680045470">Form Submissions</Parent>
    <Path>/FormSubmissions/testare</Path>
    <Trashed>false</Trashed>
    <ContentType>questionRequest</ContentType>
    <CreateDate>2025-11-12T15:54:57</CreateDate>
    <NodeName Default="2025-11-12 15:54 - testare" />
    <SortOrder>8</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <questionRequestEmail>
      <Value><![CDATA[testare@domain.com]]></Value>
    </questionRequestEmail>
    <questionRequestName>
      <Value><![CDATA[testare]]></Value>
    </questionRequestName>
    <questionRequestQuestion>
      <Value><![CDATA[testar en sak]]></Value>
    </questionRequestQuestion>
  </Properties>
</Content>