<?xml version="1.0" encoding="utf-8"?>
<Content Key="bf7134a7-1531-45a4-9c6a-b8bc1ae03f75" Alias="2025-11-12 16:27 - asdasdasd" Level="2">
  <Info>
    <Parent Key="643c82bf-965a-4e69-b86d-22c680045470">Form Submissions</Parent>
    <Path>/FormSubmissions/asdasdasd</Path>
    <Trashed>false</Trashed>
    <ContentType>questionRequest</ContentType>
    <CreateDate>2025-11-12T16:27:26</CreateDate>
    <NodeName Default="2025-11-12 16:27 - asdasdasd" />
    <SortOrder>18</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <questionRequestEmail>
      <Value><![CDATA[sebastian@domain.com]]></Value>
    </questionRequestEmail>
    <questionRequestName>
      <Value><![CDATA[asdasdasd]]></Value>
    </questionRequestName>
    <questionRequestQuestion>
      <Value><![CDATA[asdasdasd]]></Value>
    </questionRequestQuestion>
  </Properties>
</Content>