<?xml version="1.0" encoding="utf-8"?>
<Content Key="430c7d2f-f50d-47da-a13f-3950dedc2d1b" Alias="2025-11-12 16:31 - asdasdasd (1)" Level="2">
  <Info>
    <Parent Key="643c82bf-965a-4e69-b86d-22c680045470">Form Submissions</Parent>
    <Path>/FormSubmissions/asdasdasd1</Path>
    <Trashed>false</Trashed>
    <ContentType>questionRequest</ContentType>
    <CreateDate>2025-11-12T16:31:25</CreateDate>
    <NodeName Default="2025-11-12 16:31 - asdasdasd (1)" />
    <SortOrder>23</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <questionRequestEmail>
      <Value><![CDATA[sebastian@domain.com]]></Value>
    </questionRequestEmail>
    <questionRequestName>
      <Value><![CDATA[asdasdasd]]></Value>
    </questionRequestName>
    <questionRequestQuestion>
      <Value><![CDATA[asdasdasdasd]]></Value>
    </questionRequestQuestion>
  </Properties>
</Content>