<?xml version="1.0" encoding="utf-8"?>
<Content Key="88a2a583-c666-433c-b773-954040637953" Alias="2025-11-12 15:58 - test2" Level="2">
  <Info>
    <Parent Key="643c82bf-965a-4e69-b86d-22c680045470">Form Submissions</Parent>
    <Path>/FormSubmissions/test2</Path>
    <Trashed>false</Trashed>
    <ContentType>callbackRequest</ContentType>
    <CreateDate>2025-11-12T15:58:52</CreateDate>
    <NodeName Default="2025-11-12 15:58 - test2" />
    <SortOrder>10</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <callbackRequestEmail>
      <Value><![CDATA[test2@domain.com]]></Value>
    </callbackRequestEmail>
    <callbackRequestName>
      <Value><![CDATA[test2]]></Value>
    </callbackRequestName>
    <callbackRequestOption>
      <Value><![CDATA[Business]]></Value>
    </callbackRequestOption>
    <callbackRequestPhone>
      <Value><![CDATA[0707101010]]></Value>
    </callbackRequestPhone>
  </Properties>
</Content>