<?xml version="1.0" encoding="utf-8"?>
<Content Key="15415f9f-a7ab-4b6e-a245-33de0ed3ff93" Alias="2025-11-12 16:30 - fredrik@domain.com" Level="2">
  <Info>
    <Parent Key="643c82bf-965a-4e69-b86d-22c680045470">Form Submissions</Parent>
    <Path>/FormSubmissions/fredrikDomaincom</Path>
    <Trashed>false</Trashed>
    <ContentType>helpRequest</ContentType>
    <CreateDate>2025-11-12T16:30:01</CreateDate>
    <NodeName Default="2025-11-12 16:30 - fredrik@domain.com" />
    <SortOrder>20</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <helpRequestEmail>
      <Value><![CDATA[fredrik@domain.com]]></Value>
    </helpRequestEmail>
  </Properties>
</Content>