<?xml version="1.0" encoding="utf-8"?>
<Content Key="d9ee668f-4610-450c-89f0-d2adc524469b" Alias="2025-11-11 14:41 - Sebastian Test" Level="2">
  <Info>
    <Parent Key="643c82bf-965a-4e69-b86d-22c680045470">Form Submissions</Parent>
    <Path>/FormSubmissions/SebastianTest</Path>
    <Trashed>false</Trashed>
    <ContentType>questionRequest</ContentType>
    <CreateDate>2025-11-11T14:41:55</CreateDate>
    <NodeName Default="2025-11-11 14:41 - Sebastian Test" />
    <SortOrder>4</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <questionRequestEmail>
      <Value><![CDATA[sebastian@domain.com]]></Value>
    </questionRequestEmail>
    <questionRequestName>
      <Value><![CDATA[Sebastian Test]]></Value>
    </questionRequestName>
    <questionRequestQuestion>
      <Value><![CDATA[Detta är en fråga]]></Value>
    </questionRequestQuestion>
  </Properties>
</Content>