<?xml version="1.0" encoding="utf-8"?>
<Content Key="ac36864f-1145-440a-b9b5-329d69ebb995" Alias="2025-11-11 16:20 - emil@domain.com" Level="2">
  <Info>
    <Parent Key="643c82bf-965a-4e69-b86d-22c680045470">Form Submissions</Parent>
    <Path>/FormSubmissions/emilDomaincom</Path>
    <Trashed>false</Trashed>
    <ContentType>helpRequest</ContentType>
    <CreateDate>2025-11-11T16:20:23</CreateDate>
    <NodeName Default="2025-11-11 16:20 - emil@domain.com" />
    <SortOrder>5</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <helpRequestEmail>
      <Value><![CDATA[emil@domain.com]]></Value>
    </helpRequestEmail>
  </Properties>
</Content>