<?xml version="1.0" encoding="utf-8"?>
<Content Key="ef563717-5c69-4b65-a888-48557d80d896" Alias="2025-10-31 12:32 - Hans" Level="2">
  <Info>
    <Parent Key="643c82bf-965a-4e69-b86d-22c680045470">Form Submissions</Parent>
    <Path>/FormSubmissions/Hans</Path>
    <Trashed>false</Trashed>
    <ContentType>callbackRequest</ContentType>
    <CreateDate>2025-10-31T12:32:36</CreateDate>
    <NodeName Default="2025-10-31 12:32 - Hans" />
    <SortOrder>3</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <callbackRequestEmail>
      <Value><![CDATA[hans@domain.com]]></Value>
    </callbackRequestEmail>
    <callbackRequestName>
      <Value><![CDATA[Hans]]></Value>
    </callbackRequestName>
    <callbackRequestOption>
      <Value><![CDATA[Risk Management]]></Value>
    </callbackRequestOption>
    <callbackRequestPhone>
      <Value><![CDATA[0707101010]]></Value>
    </callbackRequestPhone>
  </Properties>
</Content>