<?xml version="1.0" encoding="utf-8"?>
<Content Key="591fc177-b117-41c7-9bd9-5c16e6956f67" Alias="2025-11-12 15:54 - testare@domain.com" Level="2">
  <Info>
    <Parent Key="643c82bf-965a-4e69-b86d-22c680045470">Form Submissions</Parent>
    <Path>/FormSubmissions/testareDomaincom</Path>
    <Trashed>false</Trashed>
    <ContentType>helpRequest</ContentType>
    <CreateDate>2025-11-12T15:54:41</CreateDate>
    <NodeName Default="2025-11-12 15:54 - testare@domain.com" />
    <SortOrder>7</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <helpRequestEmail>
      <Value><![CDATA[testare@domain.com]]></Value>
    </helpRequestEmail>
  </Properties>
</Content>