<?xml version="1.0" encoding="utf-8"?>
<Content Key="847a15ac-8644-4bca-b969-0f3f03a9edae" Alias="2025-11-12 15:59 - testhelp@domain.com" Level="2">
  <Info>
    <Parent Key="643c82bf-965a-4e69-b86d-22c680045470">Form Submissions</Parent>
    <Path>/FormSubmissions/testhelpDomaincom</Path>
    <Trashed>false</Trashed>
    <ContentType>helpRequest</ContentType>
    <CreateDate>2025-11-12T15:59:15</CreateDate>
    <NodeName Default="2025-11-12 15:59 - testhelp@domain.com" />
    <SortOrder>11</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <helpRequestEmail>
      <Value><![CDATA[testhelp@domain.com]]></Value>
    </helpRequestEmail>
  </Properties>
</Content>