<?xml version="1.0" encoding="utf-8"?>
<Content Key="129beb25-7d4f-467c-9b86-7712dde73ec7" Alias="About" Level="2">
  <Info>
    <Parent Key="07ce9bec-3217-4627-aed6-bdb9ebc4951b">Onatrix</Parent>
    <Path>/Onatrix/About</Path>
    <Trashed>false</Trashed>
    <ContentType>aboutPage</ContentType>
    <CreateDate>2025-10-27T13:29:45</CreateDate>
    <NodeName Default="About" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="00ea1621-f0a4-45f0-a0a4-926ede35115a">AboutPage</Template>
  </Info>
  <Properties>
    <sections>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "0b6818ea-fc25-489f-9639-de2605017410",
      "key": "b096e220-3fb6-4b24-9d7e-7b5495af4d57",
      "udi": null,
      "values": [
        {
          "alias": "teamTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Ch3 style=\u0022text-align: center;\u0022\u003E\u003Cspan style=\u0022white-space: pre-wrap;\u0022\u003EA team of professionals\u003C/span\u003E\u003Cbr\u003E\u003Cspan style=\u0022white-space: pre-wrap;\u0022\u003Ewith years of experience\u003C/span\u003E\u003C/h3\u003E\u003Cp\u003E\u003C/p\u003E"
          }
        },
        {
          "alias": "teamLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Our Expert"
        },
        {
          "alias": "teamMemberList",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "contentData": [
              {
                "contentTypeKey": "014b5219-ce9e-4531-a15d-91f1811061bd",
                "key": "859315ac-78f2-49f8-ad12-7751562e4000",
                "udi": null,
                "values": [
                  {
                    "alias": "teamMemberName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Brandon Newton"
                  },
                  {
                    "alias": "teamMemberRole",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Financial Advisor at Onatrix"
                  },
                  {
                    "alias": "teamMemberImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "a62eb818-a68b-4d41-8551-687fea59b765",
                        "mediaKey": "79fe47f6-665b-4279-a510-8ec32d010d31",
                        "mediaTypeAlias": "",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  }
                ]
              },
              {
                "contentTypeKey": "014b5219-ce9e-4531-a15d-91f1811061bd",
                "key": "7e2b72fe-e72c-4bab-9def-02dfb4115c81",
                "udi": null,
                "values": [
                  {
                    "alias": "teamMemberName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "AJ Carter"
                  },
                  {
                    "alias": "teamMemberRole",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Financial Advisor at Onatrix"
                  },
                  {
                    "alias": "teamMemberImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "b6375fe8-441b-44d4-8f20-b88e6b82b09e",
                        "mediaKey": "3e51138d-2165-4e9c-88b2-7f710d46cdc2",
                        "mediaTypeAlias": "",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  }
                ]
              },
              {
                "contentTypeKey": "014b5219-ce9e-4531-a15d-91f1811061bd",
                "key": "68181ef1-109f-4d1a-83af-290b93ab5b86",
                "udi": null,
                "values": [
                  {
                    "alias": "teamMemberName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Aaron Lambert"
                  },
                  {
                    "alias": "teamMemberRole",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Business Specialist at Onatrix"
                  },
                  {
                    "alias": "teamMemberImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "d87679e8-17d6-4e3d-8fd1-a3590ba13ffe",
                        "mediaKey": "9cee908f-0cc6-4a4a-b638-5c2d8254f6a0",
                        "mediaTypeAlias": "",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  }
                ]
              },
              {
                "contentTypeKey": "014b5219-ce9e-4531-a15d-91f1811061bd",
                "key": "43be4ab4-a335-4638-bc9e-fde14989fe08",
                "udi": null,
                "values": [
                  {
                    "alias": "teamMemberName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Tina Fox"
                  },
                  {
                    "alias": "teamMemberRole",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "CEO \u0026 Founder at Onatrix"
                  },
                  {
                    "alias": "teamMemberImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "43080a50-f1e9-453e-a1db-440ab3bb51d6",
                        "mediaKey": "91201508-a9e6-4e03-b7d8-c45a892c764c",
                        "mediaTypeAlias": "",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  }
                ]
              },
              {
                "contentTypeKey": "014b5219-ce9e-4531-a15d-91f1811061bd",
                "key": "feefe6db-a42d-49ef-8e30-bf9627b0c170",
                "udi": null,
                "values": [
                  {
                    "alias": "teamMemberName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Brandon Kerr"
                  },
                  {
                    "alias": "teamMemberRole",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": " CFO \u0026 Co-Founderat Onatrix"
                  },
                  {
                    "alias": "teamMemberImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "254089cc-45c9-4bad-9b30-d340c6738ba6",
                        "mediaKey": "8c4d20ab-3042-429b-bebc-b55612f03f91",
                        "mediaTypeAlias": "",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  }
                ]
              },
              {
                "contentTypeKey": "014b5219-ce9e-4531-a15d-91f1811061bd",
                "key": "13bf617d-741a-4c8c-a53e-adbfe86775fc",
                "udi": null,
                "values": [
                  {
                    "alias": "teamMemberName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Miranda Dayton"
                  },
                  {
                    "alias": "teamMemberRole",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Head of HR at Onatrix"
                  },
                  {
                    "alias": "teamMemberImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "aee37944-89fe-4b16-8f65-dbfe7fbb779b",
                        "mediaKey": "0e279b4e-9fe5-4317-82d4-36a7042e9593",
                        "mediaTypeAlias": "",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  }
                ]
              },
              {
                "contentTypeKey": "014b5219-ce9e-4531-a15d-91f1811061bd",
                "key": "3c858bef-8142-4415-a031-5d09ebaef5c7",
                "udi": null,
                "values": [
                  {
                    "alias": "teamMemberName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Kevin Gardner"
                  },
                  {
                    "alias": "teamMemberRole",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Banking Advisor at Swedbank"
                  },
                  {
                    "alias": "teamMemberImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "f9c471a5-4740-4a07-a991-f806675aa576",
                        "mediaKey": "67b7b780-ddef-4882-b59e-175875f45e06",
                        "mediaTypeAlias": "",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  }
                ]
              }
            ],
            "settingsData": [],
            "expose": [
              {
                "contentKey": "859315ac-78f2-49f8-ad12-7751562e4000",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "7e2b72fe-e72c-4bab-9def-02dfb4115c81",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "68181ef1-109f-4d1a-83af-290b93ab5b86",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "43be4ab4-a335-4638-bc9e-fde14989fe08",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "feefe6db-a42d-49ef-8e30-bf9627b0c170",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "13bf617d-741a-4c8c-a53e-adbfe86775fc",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "3c858bef-8142-4415-a031-5d09ebaef5c7",
                "culture": null,
                "segment": null
              }
            ],
            "Layout": {
              "Umbraco.BlockList": [
                {
                  "contentKey": "859315ac-78f2-49f8-ad12-7751562e4000",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "7e2b72fe-e72c-4bab-9def-02dfb4115c81",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "68181ef1-109f-4d1a-83af-290b93ab5b86",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "43be4ab4-a335-4638-bc9e-fde14989fe08",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "feefe6db-a42d-49ef-8e30-bf9627b0c170",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "13bf617d-741a-4c8c-a53e-adbfe86775fc",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "3c858bef-8142-4415-a031-5d09ebaef5c7",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                }
              ]
            }
          }
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "b096e220-3fb6-4b24-9d7e-7b5495af4d57",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "b096e220-3fb6-4b24-9d7e-7b5495af4d57",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </sections>
  </Properties>
</Content>