<?xml version="1.0" encoding="utf-8"?>
<Content Key="922a5a4e-bb72-4417-859b-330f9d1b03c4" Alias="Assurance &amp; Audits" Level="3">
  <Info>
    <Parent Key="cf456f1c-103a-442f-aef7-857dac0e12b3">Services</Parent>
    <Path>/Onatrix/Services/AssuranceAudits</Path>
    <Trashed>false</Trashed>
    <ContentType>serviceDetail</ContentType>
    <CreateDate>2025-10-28T15:26:46</CreateDate>
    <NodeName Default="Assurance &amp; Audits" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="45e9cf47-7744-40e6-acf6-05a9abcb4e96">ServiceDetail</Template>
  </Info>
  <Properties>
    <pageTitle>
      <Value><![CDATA[Assurance & Audits]]></Value>
    </pageTitle>
    <serviceDetailAsides>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "a44cd255-575e-4a20-9422-63f12e6f15ee",
      "key": "eb4c2bc2-6b85-46a7-9317-555c12620871",
      "udi": null,
      "values": [
        {
          "alias": "infoTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "About us"
        },
        {
          "alias": "infoImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "aee5334d-cb92-4e75-a5d0-de61aac29986",
              "mediaKey": "59b60e98-6fe5-4038-8b76-d56020a030ed",
              "mediaTypeAlias": "",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "infoText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non"
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "eb4c2bc2-6b85-46a7-9317-555c12620871",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "eb4c2bc2-6b85-46a7-9317-555c12620871",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </serviceDetailAsides>
    <serviceDetailExcerpt>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non]]></Value>
    </serviceDetailExcerpt>
    <serviceDetailThumbnail>
      <Value><![CDATA[[
  {
    "key": "eaa650ba-119c-494f-8d04-fd36deecde99",
    "mediaKey": "59b60e98-6fe5-4038-8b76-d56020a030ed",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </serviceDetailThumbnail>
  </Properties>
</Content>