<?xml version="1.0" encoding="utf-8"?>
<Content Key="2d052adb-37e5-4f71-b8ae-eb7f4fa62b28" Alias="Bonds &amp; Commodities" Level="3">
  <Info>
    <Parent Key="cf456f1c-103a-442f-aef7-857dac0e12b3">Services</Parent>
    <Path>/Onatrix/Services/BondsCommodities</Path>
    <Trashed>false</Trashed>
    <ContentType>serviceDetail</ContentType>
    <CreateDate>2025-10-28T15:27:17</CreateDate>
    <NodeName Default="Bonds &amp; Commodities" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="45e9cf47-7744-40e6-acf6-05a9abcb4e96">ServiceDetail</Template>
  </Info>
  <Properties>
    <pageTitle>
      <Value><![CDATA[Bonds & Commodities]]></Value>
    </pageTitle>
    <serviceDetailAsides>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "a44cd255-575e-4a20-9422-63f12e6f15ee",
      "key": "3416b90f-fea5-4fb0-8a06-80c4a8e56d91",
      "udi": null,
      "values": [
        {
          "alias": "infoTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "About us"
        },
        {
          "alias": "infoImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "753d53ce-b463-4945-a821-ee7b17e29335",
              "mediaKey": "ac4d85b9-b6eb-4ab5-ae1f-4cb9c5ee0223",
              "mediaTypeAlias": "",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "infoText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non"
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "3416b90f-fea5-4fb0-8a06-80c4a8e56d91",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "3416b90f-fea5-4fb0-8a06-80c4a8e56d91",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </serviceDetailAsides>
    <serviceDetailExcerpt>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non]]></Value>
    </serviceDetailExcerpt>
    <serviceDetailThumbnail>
      <Value><![CDATA[[
  {
    "key": "53df1922-7a06-457a-b82d-9c979eb45b5f",
    "mediaKey": "ac4d85b9-b6eb-4ab5-ae1f-4cb9c5ee0223",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </serviceDetailThumbnail>
  </Properties>
</Content>