<?xml version="1.0" encoding="utf-8"?>
<Content Key="e9450169-90cb-4ac7-9c0a-e659b1c9d08e" Alias="Contact" Level="2">
  <Info>
    <Parent Key="07ce9bec-3217-4627-aed6-bdb9ebc4951b">Onatrix</Parent>
    <Path>/Onatrix/Contact</Path>
    <Trashed>false</Trashed>
    <ContentType>contactPage</ContentType>
    <CreateDate>2025-10-23T15:16:09</CreateDate>
    <NodeName Default="Contact" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="88356d07-2a3d-4cb6-9b50-0bdade82a19e">ContactPage</Template>
  </Info>
  <Properties>
    <pageTitle>
      <Value><![CDATA[Contact Us]]></Value>
    </pageTitle>
    <sections>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "d7acd5c2-ba3d-429a-8f4d-d996d0e1ccbb",
      "key": "b725068a-6c7a-4475-87fe-b4357caf91e2",
      "udi": null,
      "values": [
        {
          "alias": "letUsKnowTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Let us know about your next project"
        },
        {
          "alias": "letUsKnowImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "ba0b6012-b9bf-40b7-b9f2-e0074fd29943",
              "mediaKey": "482d8c0d-eb94-4279-895e-3039c46c7651",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    },
    {
      "contentTypeKey": "672d9c20-7683-4556-84ed-8218117263c3",
      "key": "f80c24a3-b268-4558-b029-bdb25d1e99cb",
      "udi": null,
      "values": [
        {
          "alias": "contactTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Let us know about your next project"
        },
        {
          "alias": "contactText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas consectetur, ligula semper sagittis lobortis, eros metus efficitur purus"
        },
        {
          "alias": "contactBgImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "28b7493e-4c29-4999-8f3b-946498bba753",
              "mediaKey": "1276054c-3b97-4ee6-8eeb-c3d3dfe74b84",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "contactLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "REQUEST A CALL BACK"
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "7e79aca1-2054-471b-b336-f674455ca003",
      "key": "d100915e-15e0-42dd-8505-cf1af775c0fc",
      "udi": null,
      "values": [
        {
          "alias": "letUsKnowBgColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "White",
            "value": "#ffffff"
          }
        }
      ]
    },
    {
      "contentTypeKey": "cd9a3350-8569-45a4-8996-e3d836fafc8f",
      "key": "4355db67-c82b-4a6f-89a6-6a5e5efac066",
      "udi": null,
      "values": [
        {
          "alias": "contactCallbackRequestOptions",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Financial Consulting\nBusiness\nRisk Management"
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "b725068a-6c7a-4475-87fe-b4357caf91e2",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "f80c24a3-b268-4558-b029-bdb25d1e99cb",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "b725068a-6c7a-4475-87fe-b4357caf91e2",
        "contentUdi": null,
        "settingsKey": "d100915e-15e0-42dd-8505-cf1af775c0fc",
        "settingsUdi": null
      },
      {
        "contentKey": "f80c24a3-b268-4558-b029-bdb25d1e99cb",
        "contentUdi": null,
        "settingsKey": "4355db67-c82b-4a6f-89a6-6a5e5efac066",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </sections>
  </Properties>
</Content>