<?xml version="1.0" encoding="utf-8"?>
<Content Key="9c47671f-ca87-4bac-b0a9-976971d772ff" Alias="Financial Advisor" Level="3">
  <Info>
    <Parent Key="cf456f1c-103a-442f-aef7-857dac0e12b3">Services</Parent>
    <Path>/Onatrix/Services/FinancialAdvisor</Path>
    <Trashed>false</Trashed>
    <ContentType>serviceDetail</ContentType>
    <CreateDate>2025-10-28T15:25:22</CreateDate>
    <NodeName Default="Financial Advisor" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="45e9cf47-7744-40e6-acf6-05a9abcb4e96">ServiceDetail</Template>
  </Info>
  <Properties>
    <pageTitle>
      <Value><![CDATA[Financial Advisor]]></Value>
    </pageTitle>
    <serviceDetailAsides>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "a44cd255-575e-4a20-9422-63f12e6f15ee",
      "key": "b27e55a2-495e-49c9-ba5e-89e7e3553360",
      "udi": null,
      "values": [
        {
          "alias": "infoTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "About us"
        },
        {
          "alias": "infoImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "b9f56c10-a692-470c-a451-e8d9c44bc958",
              "mediaKey": "a1d9cb47-da51-49a4-a62e-eb68c92a71b4",
              "mediaTypeAlias": "",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "infoText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non"
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "b27e55a2-495e-49c9-ba5e-89e7e3553360",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "b27e55a2-495e-49c9-ba5e-89e7e3553360",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </serviceDetailAsides>
    <serviceDetailExcerpt>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non]]></Value>
    </serviceDetailExcerpt>
    <serviceDetailThumbnail>
      <Value><![CDATA[[
  {
    "key": "19fc6708-d5c4-4f16-9695-3434a0857cc1",
    "mediaKey": "a1d9cb47-da51-49a4-a62e-eb68c92a71b4",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </serviceDetailThumbnail>
  </Properties>
</Content>