<?xml version="1.0" encoding="utf-8"?>
<Content Key="07ce9bec-3217-4627-aed6-bdb9ebc4951b" Alias="Home" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Home</Path>
    <Trashed>false</Trashed>
    <ContentType>homePage</ContentType>
    <CreateDate>2025-10-23T14:38:34</CreateDate>
    <NodeName Default="Home" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="487b2946-0a49-4efe-9f9c-dce0f84be0f1">HomePage</Template>
  </Info>
  <Properties>
    <heroBgImage>
      <Value><![CDATA[[
  {
    "key": "15a7b6af-36dc-4002-b9eb-031dbb9e24bf",
    "mediaKey": "935861c2-1cc6-498e-b382-be744db8c318",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </heroBgImage>
    <heroLink>
      <Value><![CDATA[[
  {
    "name": "Contact Us",
    "target": null,
    "udi": "umb://document/e945016990cb4ac79c0ae659b1c9d08e",
    "url": null,
    "queryString": null
  }
]]]></Value>
    </heroLink>
    <heroText>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "\u003Cp\u003ELorem ipsum dolor sit amet, consectetum adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim\u003C/p\u003E"
}]]></Value>
    </heroText>
    <heroTitle>
      <Value><![CDATA[We bring success to you]]></Value>
    </heroTitle>
  </Properties>
</Content>