<?xml version="1.0" encoding="utf-8"?>
<Content Key="ade67a8a-4598-4e37-995f-7488b34c503b" Alias="Site Settings" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/SiteSettings</Path>
    <Trashed>false</Trashed>
    <ContentType>siteSettings</ContentType>
    <CreateDate>2025-10-27T14:22:01</CreateDate>
    <NodeName Default="Site Settings" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <contactAddress>
      <Value><![CDATA[Klarabergsviadukten 90, 111 64 Stockholm]]></Value>
    </contactAddress>
    <contactEmail>
      <Value><![CDATA[sales@onatrix.com]]></Value>
    </contactEmail>
    <contactPhone>
      <Value><![CDATA[+46 8 123 456 75]]></Value>
    </contactPhone>
    <siteLogo>
      <Value><![CDATA[[
  {
    "key": "f5707596-4039-4322-b42f-77fcd1b46942",
    "mediaKey": "8d93d84a-c3ce-4c14-b1ef-b752e362188f",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </siteLogo>
    <siteName>
      <Value><![CDATA[Onatrix]]></Value>
    </siteName>
    <socialMediaList>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "5dfa2a71-efc4-477f-91ef-47af0b7e617f",
      "key": "453db43e-b86b-4d69-9a66-cc69ced82072",
      "udi": null,
      "values": [
        {
          "alias": "platformName",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "Facebook"
          ]
        },
        {
          "alias": "platformAccountUrl",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "https://www.facebook.com"
        }
      ]
    },
    {
      "contentTypeKey": "5dfa2a71-efc4-477f-91ef-47af0b7e617f",
      "key": "4d34156a-4a96-4a4a-8387-77bd4027f085",
      "udi": null,
      "values": [
        {
          "alias": "platformName",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "Linkedin"
          ]
        },
        {
          "alias": "platformAccountUrl",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "https://www.linkedin.com"
        }
      ]
    },
    {
      "contentTypeKey": "5dfa2a71-efc4-477f-91ef-47af0b7e617f",
      "key": "8fd7f8e4-9342-4af2-af76-086287352822",
      "udi": null,
      "values": [
        {
          "alias": "platformName",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "X"
          ]
        },
        {
          "alias": "platformAccountUrl",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "https://www.x.com"
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "453db43e-b86b-4d69-9a66-cc69ced82072",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "4d34156a-4a96-4a4a-8387-77bd4027f085",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "8fd7f8e4-9342-4af2-af76-086287352822",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "453db43e-b86b-4d69-9a66-cc69ced82072",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "8fd7f8e4-9342-4af2-af76-086287352822",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "4d34156a-4a96-4a4a-8387-77bd4027f085",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </socialMediaList>
  </Properties>
</Content>