@import "tailwindcss";

@theme {
    --color-neutral: #ffffff;
    --color-white: #f2eddc;
    --color-white-100: #f7f7f7;
    --color-dark: #0e0e0e;
    --color-primary: #4F5955;
    --color-main-light: #606966;
    --color-accent: #f2eddc;
    --color-secondary: #d9c3a9;
    --color-gray-400: #4b5264;
    --color-body-text: #535656;
    --color-body-text-100: #999999;
    --color-note1: #9c9ea6;
    --color-border-gray: #eaeaea;
    --color-border-400: #c7c8c9;

    --font-poppins: "poppins", sans-serif;
}

body {
    @apply font-poppins;
}

.rte h3 {
    @apply text-[2.5rem] text-primary font-bold;
}

.current a {
    @apply text-secondary;
}