@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


:root {
    --clr-neutral: #ffffff;
    --clr-white: #f2eddc;
    --clr-white-100: #f7f7f7;
    --clr-dark: #0e0e0e;
    --clr-primary: #4F5955;
    --clr-main-light: #606966;
    --clr-accent: #f2eddc;
    --clr-secondary: #d9c3a9;
    --clr-gray-400: #4b5264;
    --clr-body-text: #535656;
    --clr-body-text-100: #999999;
    --clr-note1: #9c9ea6;
    --clr-border-gray: #eaeaea;
    --clr-border-400: #c7c8c9;
}

body {
    font-family: 'Poppins', sans-serif;
}

.rte h3 {
    font-size: 2.5rem;
    color: var(--clr-primary);
    font-weight: 700;
}