@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockListItem>;
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
    var content = (ContentModels.TeamMember)Model.Content;
}


<div class="flex flex-col h-full border border-border-gray">
    @if (content.TeamMemberImage != null)
    {
        <img src="@content.TeamMemberImage.Url()" alt="@content.TeamMemberName" class="w-full object-cover" />
    }

    <div class="p-4">
        <h4 class="font-semibold">@content.TeamMemberName</h4>
        <p class="text-sm text-gray-600">@content.TeamMemberRole</p>
    </div>
</div>