<?xml version="1.0" encoding="utf-8"?>
<DataType Key="f8e9148d-562e-441c-82e3-6a4acc5d04b2" Alias="Contact Section - Contact Let us Know" Level="1">
  <Info>
    <Name>Contact Section - Contact Let us Know</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "d7acd5c2-ba3d-429a-8f4d-d996d0e1ccbb",
      "settingsElementTypeKey": "7e79aca1-2054-471b-b336-f674455ca003"
    }
  ]
}]]></Config>
</DataType>