<?xml version="1.0" encoding="utf-8"?>
<DataType Key="f3f0bb40-8a94-40a0-b584-a79336051bcb" Alias="Contact Section - Contact Callback Form" Level="1">
  <Info>
    <Name>Contact Section - Contact Callback Form</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "e52c4793-326e-494c-9a1a-6a026bce9ae9",
      "settingsElementTypeKey": "517bca18-4da1-4f0b-9fc1-d4703ffeb948"
    }
  ]
}]]></Config>
</DataType>