<?xml version="1.0" encoding="utf-8"?>
<DataType Key="edafa2cb-3125-4f48-9a46-fa2523d57a36" Alias="Onatrix - Sections" Level="1">
  <Info>
    <Name>Onatrix - Sections</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "4e78be79-a218-4fc7-adf1-d511f6aaeb09"
    },
    {
      "contentElementTypeKey": "8a5e3ece-ee6a-4302-a2d0-2abb2b1ffd5a",
      "settingsElementTypeKey": "889ef6d1-a362-4df2-85e4-01b03d83512c"
    },
    {
      "contentElementTypeKey": "0b6818ea-fc25-489f-9639-de2605017410"
    },
    {
      "contentElementTypeKey": "e52c4793-326e-494c-9a1a-6a026bce9ae9",
      "settingsElementTypeKey": "517bca18-4da1-4f0b-9fc1-d4703ffeb948"
    },
    {
      "contentElementTypeKey": "d7acd5c2-ba3d-429a-8f4d-d996d0e1ccbb",
      "settingsElementTypeKey": "7e79aca1-2054-471b-b336-f674455ca003"
    },
    {
      "contentElementTypeKey": "672d9c20-7683-4556-84ed-8218117263c3",
      "settingsElementTypeKey": "cd9a3350-8569-45a4-8996-e3d836fafc8f"
    },
    {
      "contentElementTypeKey": "3c77d669-543b-476f-9b49-2f32acc107f4"
    },
    {
      "contentElementTypeKey": "a73bcce1-2d97-4914-afd6-53f85f6fecee"
    },
    {
      "contentElementTypeKey": "a8e8d030-f648-433f-8edb-0b9bebdf0d89",
      "settingsElementTypeKey": "5d31bd7a-5fab-449d-8f5b-ce3d2c911b40"
    },
    {
      "contentElementTypeKey": "e40d6500-4050-407f-9077-47eac0c383c8"
    },
    {
      "contentElementTypeKey": "41b1e8de-5824-4267-8b9b-39eebb89252d"
    },
    {
      "contentElementTypeKey": "f14a95b3-b073-4477-8493-5e9bf9da5b9a"
    }
  ]
}]]></Config>
</DataType>