<?xml version="1.0" encoding="utf-8"?>
<DataType Key="edafa2cb-3125-4f48-9a46-fa2523d57a36" Alias="Onatrix - Sections" Level="1">
  <Info>
    <Name>Onatrix - Sections</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "4e78be79-a218-4fc7-adf1-d511f6aaeb09"
    },
    {
      "contentElementTypeKey": "8a5e3ece-ee6a-4302-a2d0-2abb2b1ffd5a",
      "settingsElementTypeKey": "889ef6d1-a362-4df2-85e4-01b03d83512c"
    },
    {
      "contentElementTypeKey": "0b6818ea-fc25-489f-9639-de2605017410"
    }
  ]
}]]></Config>
</DataType>