<?xml version="1.0" encoding="utf-8"?>
<DataType Key="1d938014-90b0-480c-a83f-330ae805d26d" Alias="Partner List" Level="1">
  <Info>
    <Name>Partner List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "61abde3c-85c6-4537-aa1f-46795eb15d4c",
      "label": "{umbValue: partnerName}"
    }
  ]
}]]></Config>
</DataType>