<?xml version="1.0" encoding="utf-8"?>
<DataType Key="4513e2ae-1372-4e7f-b762-3ce3fe8dbd78" Alias="Service Detail Asides - List" Level="1">
  <Info>
    <Name>Service Detail Asides - List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "a44cd255-575e-4a20-9422-63f12e6f15ee"
    }
  ]
}]]></Config>
</DataType>