<?xml version="1.0" encoding="utf-8"?>
<DataType Key="d8af27c7-3a34-4b7a-b97c-3559b343566f" Alias="Site Settings - Social Media List" Level="1">
  <Info>
    <Name>Site Settings - Social Media List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "5dfa2a71-efc4-477f-91ef-47af0b7e617f",
      "label": "{umbValue: platformName}"
    }
  ]
}]]></Config>
</DataType>