<?xml version="1.0" encoding="utf-8"?>
<DataType Key="820f67c6-da52-4492-8ead-49514d949073" Alias="Team Member List" Level="1">
  <Info>
    <Name>Team Member List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "014b5219-ce9e-4531-a15d-91f1811061bd",
      "label": "{umbValue: teamMemberName}"
    }
  ]
}]]></Config>
</DataType>